*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background :linear-gradient(-135deg, #403b63,#4158d0)

}
.wrapper{
    width: 450px;
    background-color: cornsilk;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}
.wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: cornsilk;
    border-bottom: 2px solid silver;
    color: #633b60;
}
.input-data input:focus{
    border-bottom: 3px solid#4158d0;

}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
    font-size: 15px;
transform: translateY(-20px);
}
.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    transition: all .3s ease;
}